In [5]:
from IPython.display import Image
import time
from time import sleep
import datetime
import pandas as pd
import numpy as np
import openpyxl
from mystockrec import xlsx_df, export_xlsx, data_load_user_input

# Stock Recommender Demo

![title](stockrec.png)

In [4]:
data_load_user_input()

 What company do you want to check? apple

APPLE INC was found in the database.

Let's take a closer look.

APPLE INC is in cluster 5 and was ranked on overall position 61.

,shortName,symbol,cluster,sector,Rank_CFoEV_RoA,revenueGrowth,earningsGrowth,SalesoEV_in_%,beta
342,APPLE INC,AAPL,5.0,Technology,61.0,0.364,1.0,14.63664,1.222222

Top ranked companies in cluster 5 are:

,shortName,symbol,cluster,sector,Rank_CFoEV_RoA,revenueGrowth,earningsGrowth,SalesoEV_in_%,beta
212,QUIDEL CORPORATION,QDEL,5.0,Healthcare,2.0,-0.125,-0.710,34.887055,-0.073689
176,ADAIRS FPO,ADH.AX,5.0,Consumer Cyclical,3.0,0.231,-0.119,68.458984,1.376852
497,"HOLOGIC, INC",HOLX,5.0,Healthcare,4.0,0.420,0.962,27.790450,1.171397
669,"T ROWE PRICE GROUP, INC",TROW,5.0,Financial Services,5.0,0.363,0.357,17.524824,1.189956
285,"EMERGENT BIOSOLUTIONS, INC",EBS,5.0,Healthcare,6.0,0.782,NaN,51.643262,0.979869
634,QUEST DIAGNOSTICS INCORPORATED,DGX,5.0,Healthcare,9.0,0.396,2.647,51.326988,1.033842
206,LOGITECH INTERNATIONAL SA - R,LOGI,5.0,Technology,12.0,0.657,1.595,42.927705,0.633979
481,"GILEAD SCIENCES, INC",GILD,5.0,Healthcare,16.0,0.209,NaN,24.633191,0.413209
360,"H&R BLOCK, INC",HRB,5.0,Consumer Cyclical,17.5,0.287,1.162,60.370459,0.863982
660,SNAP-ON INCORPORATED,SNA,5.0,Industrials,17.5,0.444,1.032,37.157660,1.277292
342,APPLE INC,AAPL,5.0,Technology,61.0,0.364,1.000,14.636640,1.222222